## 1. 파이썬 함수

In [3]:
def add(a,b):
    return a+b

a,b=3,4
c= add(a,b)
print(c)

None

In [2]:
d = add(111,222)
print(d)

333

In [4]:
# 1. 매개 변수가 O, 리턴값 O
def minus (a,b):
    return a-b

a = minus(10,4)
print(a)

6

In [5]:
# 2. 매개변수 X, 리턴값 O
def say():
    return "HI"

print(say())

HI

In [7]:
# 3. 매개 변수가 O, 리턴값 X
def add(x,y):
    print("%d, %d의 합은 %d입니다."%(x,y,x+y))

add(12,24)

a= add(3,4)
print(a)

12, 24의 합은 36입니다.
3, 4의 합은 7입니다.
None

In [9]:
# 4.매개 변수가 X, 리턴값 X
def say():
    print('Hi')

say()

Hi

In [10]:
# 키워드 매개변수
def sub(a,b):
    return a- b

result = sub(7,3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [11]:
리턴값 X 란 리턴을 적지않는것인가
매개변수 X란 내가 만든 변수에 값을 적지않는것인가

SyntaxError: invalid syntax (888575941.py, line 1)

In [14]:
# 가변 매개 변수(*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [19]:
# 덧셈, 곱셈 둘다 연산 가느안 함수
def add_mul(choice,*args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result
res1 = add_mul('add',1,2,3)
print(res1) 
res2 = add_mul('mul',1,2,3)
print(res2)

6
6

In [20]:
가변 매개변수가 앞에있으면 안되는가?

Object `안되는가` not found.

In [22]:
def print_kwargs(**kwargs):
    print(kwargs)
print_kwargs(a=1)

{'a': 1}

print_kwargs(name='foo',age=3)

In [26]:
#함수의 리턴값은 하나!
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

res1,res2 = add_and_mul(3,4)
print("a+b= ",res1)
print("a*b= ",res2)

(7, 12)
a+b=  7
a*b=  12

In [27]:
#리턴은 값을 반환하고 종료하기 때문에 두개가 사용 될 수 없다
def add_and_mul(a,b):
    return a+b 
    return a*b
res = add_and_mul(2,3)
print(res)

5

In [28]:
# return의 또 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return #리턴뒤에 값이 없어서 결과값이 나오지 않고 종료함
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')

나의 별명은 야호 입니다.

In [33]:
# 매개변수에 초기값 설정
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

#함수 호출
say_myself("이호","27")
# 기본값은 가장 뒤에 써주는 것 이 좋다

나의 이름은 이호입니다.
나이는 27살 입니다.
남자입니다.

In [38]:
# 함수의 유효 범위 해결책 1. return 사용하기
a = 1
def vartest(x):
    x= a+1
    return x

a = vartest(a) # 함수 실행하면 x값만 반환되고 a변수에 덮어씀
print(a)

2

In [39]:
# 함수의 유효 범위
a = 1
def vartest(a):
    a= a+1
    

vartest(a) # 아무것도 실행 안됨
print(a) # 함수 밖에 있는 a출력됨

1

In [40]:
# 함수의 유효범위 => 2. global 명령어 사용하기
a = 1
def vartest():
    global a # 함수 안에서 a는 전역변수로 변경됨
    a += 1

vartest()
print(a)

2

In [41]:
#lambda 표현식(예약어) 사용 안하고 함수 선언
def add(a,b):
    return a+b
print(add(3,4))

7

In [43]:
#lambda 표현식(예약어) 사용 
add = lambda a,b :a+b
print(add(3,4))

7

## 2. 함수의 활용

#### 1) 재귀 함수
:내가 만든 함수를 다시 호출하는 것 (위에 썻던 함수 다시 사용하게 한다?)

In [51]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

print('5! = ',factorial(5))

5! =  120

In [49]:
def factorial(n):
    ouput = 1
    for i in range(1, n+1):
        ouput *= i
    return ouput

print('1! :', factorial(1))

1! : 1

In [55]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print(len(example))
print('원본 : ',example)
print('평탄화 : ',flatten(example))

4
원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [54]:
# 재귀 함수 이용
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print(len(example))
print('원본 : ',example)
print('평탄화 : ',flatten(example))

4
원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]