# 5-3 반복문 for

In [1]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [3]:
a= [ (1,2, ),(3,4),(5,6)]
print(a[2])
print(a[2][0])

(5, 6)
5

In [4]:
for (first, last) in a:
    print(first + last)

3
7
11

In [5]:
for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [8]:
a= [90,25,67,45,80]
number=0
for a in a:
    number += 1
    if a >= 60:
        print("%d 학생은 합격입니다." %number)
    else:
        print("%d 학생은 불합격입니다"%number)

1 학생은 합격입니다.
2 학생은 불합격입니다
3 학생은 합격입니다.
4 학생은 불합격입니다
5 학생은 합격입니다.

In [9]:
a= [90,25,67,45,80]
number=0
for a in a:
    number += 1
    if a >= 60:
        print("%d 학생 축하합니다 합격입니다." %number)
    else:
        pass

1 학생 축하합니다 합격입니다.
3 학생 축하합니다 합격입니다.
5 학생 축하합니다 합격입니다.

In [10]:
a = [90,25,67,45,80]
number= 0
for a in a:
    number += 1
    if a < 60:
        continue
    print("%d 학생 축하합니다 합격입니다." %number)

1 학생 축하합니다 합격입니다.
3 학생 축하합니다 합격입니다.
5 학생 축하합니다 합격입니다.

#### for문과 함께 자주 사용하는 range함수

In [11]:
a = range(10) #range= 범위
a

range(0, 10)

In [12]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %d"%(i,j,i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 리스트 컴프리헨션 (comprehension)

In [24]:
a = [1,2,3,4]
result = []
for num in a:
     result.append(num*3)
print(result)

[3, 6, 9, 12]

In [26]:
# 리스트 컴프리헨션으로 표현
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [28]:
a = [1,2,3,4]
result = [ num*3 for num in a if num%2==0]
print(result)

[6, 12]


## 3번 리스트 컴프리헨션

### 1) 기본구조 : 표현식 + for문

In [31]:
# 표현식에 변수 또는 상수를 쓰는 경우
n = 5
result = [ 0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0]

In [30]:
array= list(range(10))
result = [n for n in array]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#표현식에 연산식이나 함수를 쓰는 경우
result = [n*n for n in array]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
str_array = [ "List", "Comprehension", "python"]
result = [ len(string) for string in str_array] 
print(result)

[4, 13, 6]

### 2) [표현식 + for문 + 조건문(if)]

In [38]:
# if문 한 번 사용한 경우
result = [n for n in range(10) if n%2==0]
print(result)

[0, 2, 4, 6, 8]

In [37]:
array = [-1,0,-4,24,5,-10,2]
result = [n for n in array if n>0]
print(result)

[24, 5, 2]

In [39]:
# if문 여러번 사용
result = [n for n in range(50) if n%3 == 0 if n%2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]

### 2) [표현식 + 조건문(if) + for문]

In [40]:
array = [-1,0,-4,24,5,-10,2]
result = [n if n>0 else 0 for n in array]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [41]:
array= [0,1,2,3]
result=['even' if n%2==0 else 'odd' for n in array]
print(result)

['even', 'odd', 'even', 'odd']

In [42]:
pos = []
for i in range(1, 4) :
    for j in range(1, 3) :
        pos.append(i*j)
print(pos)
pos = [ i*j for i in range(1, 4) for j in range(1, 3) ]  
print(pos)

[1, 2, 2, 4, 3, 6]
[1, 2, 2, 4, 3, 6]

In [44]:
# 2차원 배열 만들기
result = [[0 for i in range(3)] for j in range(3)]
print(result)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]